[package]
name = "release_channel"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[lib]
name = "release_channel"
path = "src/release_channel.rs"
doctest = false

[dependencies]
tracing.workspace = true

[lints]
workspace = true
